@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* --bg-pri: #eeedde;
  --col-pri-1: #141e27;
  --col-pri-2: #203239; */
  --bg-pri: #2c434d;
  --col-pri-1: #eeedde;
  --col-pri-2: #eeedde;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-pri);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  color: var(--col-pri-2);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: start;
  padding-top: 2rem;
  overflow: scroll;
  text-align: center;
}

h1 {
  padding: 10px;
  text-align: center;
  margin: 0.5rem;
  color: var(--col-pri-2);
}

header {
  display: flex;
  width: 100%;
  align-items: center;
}
nav {
  padding: 1rem 2rem;
  display: flex;
  gap: 5rem;
  margin-left: auto;
  align-items: center;
}

a {
  text-decoration: none;
  border: 1px solid var(--col-pri-1);
  padding: 0.5rem;
  text-transform: uppercase;
  color: var(--col-pri-1);
  font-weight: 600;
  transition: all 300ms ease;
}
a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bg-pri);
  background: var(--col-pri-1);
}

.myimg {
  margin: 10px;
  overflow: hidden;
  width: 200px;
  min-height: 200px;
  aspect-ratio: 1;
  border-radius: 100%;
}
.myimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0%, -2%) scale(1.1);
}
p {
  margin: 0.5rem;
  color: var(--col-pri-2);
}

.heading-404 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.heading-404 + p {
  margin-bottom: 2rem;
}
footer {
  background: var(--col-pri-2);
  width: 100%;
  margin-top: auto;
  text-align: center;
}
footer p {
  color: var(--bg-pri);
  margin: 0.25rem;
}

.weather-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 0 5rem;
  max-width: 50rem;
  margin-bottom: 5rem;
}
.weather-form .address {
  background-color: transparent;
  border: 1px solid var(--col-pri-1);
  height: 2rem;
  padding: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  transition: all 100ms ease;
  color: var(--col-pri-2);
}
.weather-form .address:focus {
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
}
.weather-form .address::placeholder {
  color: var(--col-pri-2);
}
.weather-form .unit-box {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}
.unit-box .unit input {
  appearance: none;
}
.unit-box .unit {
  width: 50%;
  display: flex;
  justify-content: center;
}
.unit-box .unit label {
  display: block;
  width: 100%;
  border: 1px solid var(--col-pri-1);
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  color: var(--col-pri-1);
  font-weight: 600;
  transition: all 300ms ease;
}
.unit-box .unit label:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bg-pri);
  background: var(--col-pri-1);
}
.unit-box .unit input:checked + label {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bg-pri);
  background: var(--col-pri-1);
}

.weather-form button {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  color: var(--bg-pri);
  background: var(--col-pri-1);
  font-weight: 600;
  border: 1px solid var(--col-pri-1);
  transition: all 300ms ease;
}
.weather-form button:hover {
  background: transparent;
  border: 1px solid var(--col-pri-1);
  text-transform: uppercase;
  color: var(--col-pri-1);
}

#error {
  text-align: center;
}
#error p {
  color: rgb(197, 69, 47);
  font-size: 1rem;
  font-weight: 400;
}
#weather-info {
  text-align: center;
  margin-bottom: 2rem;
}
.mi-4x {
  font-size: 4rem;
  padding: 0.5rem;
  margin: 1rem;
}
@media all and (max-width: 680px) {
  header {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  nav {
    margin: 0;
  }
  .weather-form {
    padding: 0 1rem;
  }
}
